<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<p>Loading the 'oldest' greeting using ajax... (setting the version header v1.0)</p>
<div id="oldest"></div>
<script type="text/javascript">
    $.ajax({
        beforeSend: function (req) {
            req.setRequestHeader("Accept", "application/vnd.com.bva-auctions.api+json");
            req.setRequestHeader("version", "1.0");
        },
        type: "GET",
        url: "http://localhost:8080/greeting",
        success: function (data, text) {
            $("div#oldest").append(data.content);
        },
        error: function (request, status, error) {
            $("div#oldest").append("ERROR: " + error);
        },
        dataType: "json"
    });
</script>


<p>Loading the 'old' greeting using ajax... (setting the version header v1.1)</p>
<div id="old"></div>
<script type="text/javascript">
    $.ajax({
        beforeSend: function (req) {
            req.setRequestHeader("Accept", "application/vnd.com.bva-auctions.api+json");
            req.setRequestHeader("version", "1.1");
        },
        type: "GET",
        url: "http://localhost:8080/greeting",
        success: function (data, text) {
            $("div#old").append(data.content);
        },
        error: function (request, status, error) {
            $("div#old").append("ERROR: " + error);
        },
        dataType: "json"
    });
</script>


<p>Loading the 'new' greeting using ajax... (setting the version header v2.0)</p>
<div id="new"></div>
<script type="text/javascript">
    $.ajax({
        beforeSend: function (req) {
            req.setRequestHeader("Accept", "application/vnd.com.bva-auctions.api+json");
            req.setRequestHeader("version", "2.0");
            //req.setRequestHeader("Content-Type", "application/vnd.com.bva-auctions.api+json");
        },
        type: "GET",
        url: "http://localhost:8080/greeting",
        success: function (data, text) {
            $("div#new").append(data.content);
        },
        error: function (request, status, error) {
            $("div#new").append("ERROR: " + error);
        },
        dataType: "json"
    });
</script>


<p>Loading the 'galaxy' greeting using ajax... (setting no version header)</p>
<div id="galaxy"></div>
<script type="text/javascript">
    $.ajax({
        beforeSend: function (req) {
            req.setRequestHeader("Accept", "application/vnd.com.bva-auctions.api+json");
            //req.setRequestHeader("version", "1.0");
        },
        type: "GET",
        url: "http://localhost:8080/greeting",
        success: function (data, text) {
            $("div#galaxy").append(data.content);
        },
        error: function (request, status, error) {
            $("div#oldest").append("ERROR: " + error);
        },
        dataType: "json"
    });
</script>

</body>
</html>